<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Url" value="https://www.amazon.in"></parameter>
  <test thread-count="5" name="Test1" parallel="classes">
  <parameter name="Browser" value="Chrome"></parameter>
  <classes>
  <class name="com.qa.testscripts.TC_Amazon_SignIn_002"/>
  </classes>
  </test>
  
  <test thread-count="5" name="Test2" parallel="classes">
  <parameter name="Browser" value="firefox"></parameter>
  <classes>
  <class name="com.qa.testscripts.TC_Amazon_SignIn_002"/>
  </classes>
  </test>
  <test thread-count="5" name="Test3" parallel="classes">
  <parameter name="Browser" value="chrome"></parameter>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonDropDown_003"/>
  </classes>
  </test>
  
  <test thread-count="5" name="Test4" parallel="classes">
  <parameter name="Browser" value="firefox"></parameter>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonDropDown_003"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
